@CHARSET "UTF-8";
.fpContent{
	width:100%;
	height:80%;
}

.head{
	height:40px;
	
}
.foot{
	height:30px;
}
.base-icon{
	position:absolute;
	left:5px;
	top:3px;
	width:45px;
	height:35px;
}
#position{
	left:55px;
}
#toMap{
	width:35px;
	height:15px;
	right:95px;
}
.search_cls{
	width:35px;
	height:15px;
}